@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html,
body {
    overflow-x: hidden;
}

body {
    background-color: #eeeeee;
    min-height: 100vh;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#loading {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #222831;
}

.navbar {
    background-color: transparent !important;
}

.navbar a {
    font-size: 1.3rem;
    text-transform: capitalize;
}

.menu_active {
    font-weight: bold;
    color: #32e0c4 !important;
    border-bottom: 1px solid #32e0c4;
}

.navbar a:hover {
    color: #32e0c4 !important;
}

.greenText {
    color: #32e0c4;
}

.profile_pic {
    text-align: right;
}

.profile_pic img {
    border-radius: 500px;
    height: 360px;
}

.header {
    min-height: 79vh;
    width: 100%;
    margin-top: 20px;
}

.btn-outline-dark:hover {
    color: #32e0c4;
}

.about_header {
    color: #32e0c4;
    font-weight: bold;
}

.about_text {
    font-size: 1.5rem;
    text-align: justify;
    color: #222831;
}

.skill_icon {
    height: 80px;
    max-width: 120px;
    filter: gray;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.skill_icon:hover {
    -webkit-filter: grayscale(0);
    filter: none;
    cursor: pointer;
}

.card {
    transform: scale(1);
    transition: 0.5s ease;
    cursor: pointer;
}

.card:hover {
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253);
    transform: scale(1.05);
}

.card-text {
    font-size: 0.9rem;
    padding: 0.2rem 0.5rem;
    text-align: justify;
}

@media only screen and (max-width: 1169px) {
    .vertical-timeline--animate  .vertical-timeline-element-content.bounce-in {
      visibility: visible;
      animation: timeline-slide 0.6s;
    }
  }
  
  @keyframes timeline-slide {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
  
    60% {
      transform: translateY(-10px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

footer {
    width: 100vw;
    margin-top: auto;
    background-color: #222831;
    padding: 0.75rem 0;
}

.copyright_text {
    color: #32e0c4;
    margin: 0;
    font-size: small;
}

ul {
    padding: 0;
    list-style: none;
}

.social-icon {
    color: #fff;
}
.social-icon i {
    border-radius: 100%;
}
ul.social-icons {
    margin: 0;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
    margin: 0 7px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding: 10px 14px;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: #222831;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-instagram {
    padding: 10px 12px;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: #222831;
}
.fa-instagram:hover {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.fa-linkedin {
    padding: 10px 14px;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: #222831;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-github {
    padding: 10px 14px;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: #222831;
}
.fa-github:hover {
    background-color: #5a32a3;
}

@media (max-width: 991px) {
    .header {
        height: auto;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .menu_active {
        font-weight: bold;
        border-bottom: none;
    }
    .profile_pic {
        text-align: center;
        margin-top: 40px;
    }
    .profile_pic img {
        height: 250px;
    }
    .about_header {
        font-size: calc(1.525rem + 3.3vw);
    }
    .about_text {
        font-size: 1rem;
    }
    .skill_icon {
        height: 60px;
        max-width: 80px;
        -webkit-filter: grayscale(0);
        filter: none;
        cursor: pointer;
    }
    .social-icon i {
        border-radius: 100%;
        margin-bottom: 7px;
    }
}
